<p-panel header="Pipes numericos" class="p-1">
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente periodo">
      {{ totalSells + 1235 | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="del presente periodo">
      {{ totalSells | currency:'HNL':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganancia porcentual" subheader="del presente periodo">
      {{ percent | percent: '1.2-2' }}
    </p-card>
  </div>


</div>
